body {
    font-family: Arial;
    margin: 40px;
}

.tab-links {
    list-style: none;
    padding: 0;
    display: flex;
}

.tab-links li {
    margin-right: 5px;
}

.tab-links a {
    padding: 10px 15px;
    text-decoration: none;
    background: #ddd;
    color: black;
    border-radius: 4px;
}

.active-tab a {
    background: #17cb10;
    color: white;
}

.tab-panel {
    display: none;
    padding: 20px;
    border: 1px solid #ddd;
    margin-top: 10px;
}